.bodybg{
    -fx-background-image: url("/chemmaster/molecules-and-beakers.jpg");
    -fx-background-size: 100% 100%;
    
}
.button{
    -fx-background-color: linear-gradient(#CD5C5C,#F08080);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,.4),5,0,0,1);
 
}
.periodic{
     -fx-background-image: url("/chemmaster/PeriodicTableWallpaper2017.png");
    -fx-background-size: 100% 100%;
    
}


    
    


